@charset "utf-8";
/* CSS Document */
h1{text-align:center;
}

.subtitulo{
	font-size:30px;
}
.titulo{
	font-size:40px;
}

body{
	background-color:#FFC;
}

table td{
	text-align:center;
	border:1px #000099 dotted;

}

table .sin{
	border:0;
}

table .bot{
	padding:0 5px;
	display:inline;
	border:0;
}
table .paginacion{
	text-align:center;
}

table .primera_fila{
	font-size:1.5em;
	text-decoration:underline;
	background-color:rgb(12, 86, 49);
	color:aliceblue;
}

.centrado{
	text-align:center;

}
.centrar{
	padding: auto;
	margin-left: auto;
	margin-right: auto;
}
.color{
	background-color:#FC3;
	width: 100%;
}


